<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container" style="max-width: 70% !important;">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>😺 → 😺 → 😺 KopyKat 😺 ← 😺 ← 😺</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="https://github.com/kopykat-kt/kopykat">
          <img src="https://badgen.net/github/stars/kopykat-kt/kopykat?style=social&label=GitHub stars" />
        </a>
        <a href="https://github.com/kopykat-kt/kopykat/releases/">
          <img src="https://badgen.net/github/release/kopykat-kt/kopykat?style=social&label=Latest release" />
        </a>
        
      </div>
    </header>

    <div style="max-width: 15%; overflow: hidden; position: relative; float: left; position: fixed;">
      <p><a href="#a-title" style="color: #aaa; padding-left: 10px; font-size: 20px; text-decoration: none;">😺 → 😺 KopyKat 😺 ← 😺</a></p>
      <ul>
        <li><a href="#same-type-transformations">Same-type transformations</a>
          <ul>
            <li><a href="#mutable-copy">Mutable <code class="language-plaintext highlighter-rouge">copy</code></a></li>
            <li><a href="#mapping-copymap">Mapping <code class="language-plaintext highlighter-rouge">copyMap</code></a></li>
            <li><a href="#copy-for-sealed-hierarchies"><code class="language-plaintext highlighter-rouge">copy</code> for sealed hierarchies</a></li>
            <li><a href="#copy-for-type-aliases"><code class="language-plaintext highlighter-rouge">copy</code> for type aliases</a></li>
          </ul>
        </li>
        <li><a href="#isomorphic-copy-constructors">Isomorphic copy constructors</a>
          <ul>
            <li><a href="#nested-copy-constructors">Nested copy constructors</a></li>
            <li><a href="#multiple-copy-constructors">Multiple copy constructors</a></li>
          </ul>
        </li>
        <li><a href="#using-kopykat-in-your-project">Using KopyKat in your project</a>
          <ul>
            <li><a href="#only-for-selected-types">Only for selected types</a></li>
            <li><a href="#customizing-the-generation">Customizing the generation</a></li>
          </ul>
        </li>
        <li><a href="#what-about-optics">What about optics?</a></li>
      </ul>
    </div>

    <div class="container" style="max-width: 70% !important;">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
